    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left: 300px">
                    <li ng-class="{active: stateis('app.aboutus')}"><a ui-sref="app.aboutus">
                        About</a></li>
                    <li ng-class="{active: stateis('app.menu') || stateis('app.dishdetails')}"><a ui-sref="app.menu">
                         Menu</a></li>
                    <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span></a></li>
                     <li ng-class="{active: stateis('app.favorites')}"><a ui-sref="app.favorites">
                     Reserve</a></li>
                     <li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus">
                     </i> Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    Sign In</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a>{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Brazilian Pub's</h1>
                    <p style="padding:40px;"></p>
                    <p>The best of Brazil, combined with the best 
                    beers in the world to give you and your friends, 
                    a unique experience at Happy Hour !!!</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                <p style="padding:20px;"></p>
                <img src="images/pub.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </header>
