.row-header {
  margin: 0 auto;
  padding: 0 0;
}
.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0 auto;
  padding: 20 0;
  background-color: #323232;
}
.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background: #323232;
  color: floralwhite;
}
.carousel {
  background: #323232;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #000000;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-nav {
    text-align: center;
  }
address {
  color: floralwhite;
  font-size: 80%;
  margin: 0;
}
body {
  align: center;
  padding: 50px 0 0 0;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0;
  position: absolute;
  right: 0;
}
row row-header img {
    background-image: url(../images/pub.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
a{
color: #eee;	
}


.btn-primary {
    background: #323232;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #323232;
}
 
.btn-primary:active, .btn-primary.active {
    background: #000000;
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, 
.btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, 
.btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] 
.btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
	    background: #4c4c4c;
}